<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ค้นหารายวิชาในหลักสูตร</title>
</head>
<body>
    <h1>ค้นหารายวิชาในหลักสูตร</h1>
    <h4>ค้นหาจากชื่อวิชา</h4>
    <form action="/search_name/" method="GET"> <!-- เปลี่ยน URL ตามที่เรียกหน้า search -->
        <label for="name">รหัสวิชา:</label>
        <input type="text" id="name" name="name">
        <button type="submit">ค้นหา</button>
    </form>
    <div>
        {% if search_name %}
            <h2>รายวิชาที่พบ</h2>
            <ul>
                {% for name in search_name %}
                    <li>{{ name }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>ไม่พบรายวิชา</p>
        {% endif %}
    </div>
</body>
</html>